* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*Navbar*/
.navbar {
    text-align: center;
    background-color: rgb(96, 181, 202);
}
.navbar h1 {
    padding: 10px;
    font-size: 30px;
    color: white;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
    background-color: rgb(96, 181, 202);
    padding: 20px;
}

/*Search*/
.search {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 500px;
}
.search::placeholder {
    font-size: 20px;
}

/*Movie*/
.movie-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img {
    width: 100%;
}
.movie {
    margin: 5px;
    width: 200px;
    height: 370px;
    background-color: rgb(96, 181, 202);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.movie-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.movie-info h3, .movie-info span {
    text-align: center;
    color: white;
}
.movie-info span {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    font-weight: bold;
}
.movie-over {
    background-color: white;
    max-height: 100%;
    overflow: auto;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
}
.movie:hover .movie-over {
    transform: translateY(0%);
}   
.num.green {
    color: green;
}
.num.orange {
    color: orange;
}
.num.red {
    color: red;
}

@media screen and (max-width: 600px) {
    .navbar h1 {
        padding: 5px;
        font-size: 20px;
    }
    .search {
        padding: 8px;
        border-radius: 3px;
        font-size: 15px;
        width: 300px;
    }
    .search::placeholder {
        font-size: 15px;
    }
}